.cart-icon {
    z-index: 1;
    color: aquamarine;
}

.carts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    border: 1px solid gray;
    padding-right: 15px;
    position: relative;
    /* top: 50%; */
    /* margin: 0;
    position: absolute;
    top: 42%;
    left: 42%; */

}

.outer {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.cart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    /* top: 50%; */
    /* height: 100vh; */
}

#cart-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}


.cart-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 18px;
    border-radius: 15px;
    /* object-fit: fill; */
    object-fit: cover;
    width: 120px;
    height: 100px;
}

.img-box {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.box-one {
    display: flex;
    justify-content: center;
}


.cart-text {
    display: flex;
    /* align-self: center; */
    justify-content: center;
    padding: 4px;
}

.tidy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* style={{height: 40, width: 40, marginTop: 5, marginRight: 5, zIndex: 1}} */

#cart-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    /* align-items: center; */
    padding: 20px;
}

.cart-content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.pa {
    padding: 10px;
}

.mt {
    margin-top: 10px;
}